html, body {
  overflow: hidden;
}

h3 {
  margin: 8px 0 0;
}

label {
  font-size: 16px;

}

input {
  font-family: Poppins, Sans-Serif, Arial, Helvetica;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  transition: .3s ease;
}

input:focus {
  box-shadow: #660000 0px 13px 27px -5px, #660000 0px 8px 16px -8px;
}

a {
  color: #01CFCF;
  text-decoration: none;
  font-family: Poppins, Sans-Serif, Arial, Helvetica;
  transition: .6s ease;
}

a:clicked {
  color: #01CFCF;
}

a:hover {
  color: #07f0e4;
  text-shadow: #07f0e4 1px 0 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.registroBackgroundContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.backgroundImage{
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: scaleX(-1);
  object-fit: cover;
  background-image: url("../../assets/login-register-assets/login-register-background.jpg");
  background-size: cover;
  background-position: center;
}

/* LOGIN FORM AREA */
.registroContainer {
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.logoContainer {
  display: flex;
  justif-content: center;
  margin-bottom: 20px;
}

.logoImg {
  max-width: 100%;
  height: auto;
}

.formContainer {
  width: 95%;
  height: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.nomeSobrenomeContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}

.nomeContainer, .sobrenomeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nomeContainer, .sobrenomeContainer {
  width: 93%;
}

.nomeUsuarioContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom:  8px;
}

.senhaConfContainer {
  width: 100%;
  display: flex;
  gap: 20px;
}

.senhaContainer, .confirmarSenhaContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8px;
}

.senhaContainer input, .confirmarSenhaContainer input {
  width: 93%;
}

.emailConfContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.emailContainer, .confirmarEmailContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8px;
}

.btnRegistrarContainer {
  width: 100%;
}

.registrarBtn {
  background-color: #660000;
  width: 100%;
  padding: 12px;
  margin-top: 8px;
}

.facaLoginContainer {
  text-align: center;
}

/* RESPONSIVIDADE */

/* Large devices 992px */
@media (width <= 992px) {
  .registroBackgroundContainer{
    z-index: 1;
    position: relative;
  }

  .backgroundImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-image: url("../../assets/login-register-assets/login-register-background-2.jpg");
  }

  .registroContainer {
    background-color: rgba(25, 25, 25, 0.4);
    width: 100vw;
    height: 58%;
    position: absolute;
    z-index: 1000;
  }
}

/* Small devices 600px */
@media (width <= 600px) {
  .loginContainer {
    width: 100vw;
    height: 100vh;
  }

  .title  {
    color: #fff;
  }

  .nomeUsuarioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .senhaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 280px;
    padding: 8px;
  }

  .entrarBtn {
    width: 280px;
  }
}